header {
    color: white;
    text-decoration: underline;
}

body {
    background-image: url("Sleepy.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin: 0;
}

.container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.btn {
    font-size: 35px;
    color: rgb(212, 31, 18);
    border-radius: 25px;
    border: 5px solid black;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}

.slider-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family:'Montserrat', 'Open Sans', sans-serif;
}

#bpm-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px; 
    height: 25px;
    background: linear-gradient(90deg, black, red);
    border-radius: 15px;
}

#bpm-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 15px;
}

#bpm-display {
    font-size: 75px;
    font-style: italic;
    color: black;
    background: linear-gradient(90deg, rgb(87, 15, 15), red);
    padding: 8px 15px;
    border-radius: 20px;
}

.sub-btn img {
    width: 50px;      
    height: 50px;     
    object-fit: contain;
    padding: 5px;
}

.sub-btn img:hover {
    filter: drop-shadow(0 0 2px rgb(87, 13, 13));
    transform: scale(1.25);
    opacity: 1;
}

.sub-btn:active img {
    transform: scale(0.95);
}
