header {
    color: rgb(68, 39, 39);
    text-decoration: underline;
    margin-top: 15px;
    align-self: flex-start;
    margin-left: 15px;
}
body{
    background: url("dark-studio.png");
    margin:0;
    background-size:cover;
    background-position :center;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    background-repeat: no-repeat;
}
.input-row{
    display: none;
}
.bpm-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.bpm-btn{
    background: none;
    border: none;

    color: #720808;
    font-size: 50px;

    margin-left: 10px;
    margin-right: 10px;
}
.rudiment-stuff{
    margin-top:10px;
    width:250px;
    padding:15px;
    border-radius:24px;
    background:rgba(20,20,25,.65);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.12);
    box-shadow:0 20px 40px rgba(0,0,0,.45);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    transition: all 1s ease;
    position: relative;
    z-index: 10;
}
#rudiment-image {
    width: 200px;
    height: 100px;

    border: #3b0000;
    background: #3b0000;
    border-radius: 20px;
}
.hidden{
    display: none;
}
.dropdown-btn{
    padding: 8px 12px;

    background: rgba(20,20,25,.65);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255,255,255,.12);
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    margin-bottom: 2px;
    width: 100%;
    box-sizing: border-box;
}
.dropdown-btn i{
    transition: transform 0.2s ease;
    align-self: right;
}
.rotate{
    transform: rotate(180deg);
}
.dropdown{
    position: relative;
    z-index: 9999;
    position: relative;
}
.dropdown-menu{
    display:none;
    width: 100%; 
    position: absolute; 

    background: rgba(20,20,25,.95);
    backdrop-filter: blur(18px);

    border-radius: 14px;
    border: 1px solid rgba(255,255,255,.12);

    margin-top: 10px;

    max-height: 300px;
    overflow-y: auto;


}
.dropdown-item{
    color: white;

    padding: 10px 15px;

    cursor: pointer;

    transition: .2s;
}
.show{
    display:grid;
}
.rudiment-card{
    padding: 15px;
    width: 210px;
    background:rgba(20,20,25,.65);
    backdrop-filter:blur(18px);
    box-shadow:0 20px 40px rgba(0,0,0,.45);
    margin-top: 10px;
}
.main-card{
    margin-top:20px;
    width:250px;
    padding:30px;
    border-radius:24px;
    background:rgba(20,20,25,.65);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.12);
    box-shadow:0 20px 40px rgba(0,0,0,.45);
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    transition: all 1s ease;
}

.card-title {
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;

    letter-spacing: 3px;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    font-family: "Poppins", sans-serif;

    background: linear-gradient(
        to bottom,
        #b22222,
        #7a0000,
        #3b0000
    );
    border-radius: 5px;
}

.play-btn {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 50%;


    background: linear-gradient(
        90deg,
        #000000,
        #ff1212
    );
    border: none;
    color: white;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
        0 10px 30px rgba(184, 17, 17, 0.45),
        inset 0 1px 2px rgba(233, 9, 9, 0.932);
}
.play-btn i{
    font-size: 40px;
    color: rgb(211, 11, 11);
    border-radius: 5px;
}
#bpm-display {
    font-size: 75px;
    color: black;
    background: linear-gradient(90deg, rgb(87, 15, 15), red);
    padding: 8px 15px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: "Space Grotesk", sans-serif;
}
.slider-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Montserrat', 'Open Sans', sans-serif;
    margin-top: 5px;
}

#bpm-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px; 
    height: 20px;
    background: linear-gradient(90deg, black, red);
    border-radius: 15px;
    margin-top: 5px;
}

#bpm-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 15px;
}
.subdivisions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px
}
.subdivision-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.sub-title{
    font-family: "Nunito", sans-serif;
    color: #720808;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    text-shadow: 0 0 8px rgba(255, 40, 40, 0.5);
}
.sub-title::before,
.sub-title::after {
    content: "";
    flex: 1;
    height: 1px;
    background: rgba(146, 8, 8, 0.925);
}
.sub-title::before {
    margin-right: 12px;
}
.sub-title::after {
    margin-left: 12px;
}
.sub-btn{
    background: linear-gradient(90deg, rgb(87, 15, 15), red);
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;

    appearance: none;
    -webkit-appearance: none;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-btn img {
    width: 50px;
    height: 50px;
    object-fit: contain;

}
.sub-btn img:hover {
    filter: drop-shadow(0 0 12px rgb(0, 0, 0));
    transform: scale(1.4);
    opacity: 1;
}


