body{
    background-image: url("Hayden.umbrella.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}
.container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.btn {
    font-size: 35px;
    color: rgb(212, 31, 18);
    border-radius: 25px;
    border: 5px solid black;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}
.slider-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family:'Montserrat', 'Open Sans', sans-serif;
}
#bpm-slider {
    width: 300px; 
}
#bpm-display {
    font-size: 75px;
    color: white;

    background: linear-gradient(90deg, black, white); /* gradient */
    padding: 8px 15px;
    border-radius: 150px;
}
